flows.json
[
    {
        "id": "81379ddc46b98c8f",
        "type": "tab",
        "label": "Flow 3 - html",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6a48bf4aa719721",
        "type": "http in",
        "z": "81379ddc46b98c8f",
        "name": "Register",
        "url": "/register",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "db9f8be9b608be89"
            ]
        ]
    },
    {
        "id": "db9f8be9b608be89",
        "type": "template",
        "z": "81379ddc46b98c8f",
        "name": "Register Html",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"status\": \"ok\",\n    \"message\": \"GET API SUCCESS\"\n}",
        "output": "str",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "f6b68252b17e6802"
            ]
        ]
    },
    {
        "id": "f6b68252b17e6802",
        "type": "http response",
        "z": "81379ddc46b98c8f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 180,
        "wires": []
    }
]